.active {
    background-color: lightgreen;
    text-decoration: none;
    border-bottom: 2px solid green;
    color: white;
}

.nonActive {
    background-color: black;
    color: white;
    text-decoration: none;
}
