@use '../global/config/tokens';

.page-footer {
    display: block;
    background-color: tokens.$c-blue-900;
    margin-block: auto 0;
    padding: clamp(tokens.$baseUnit * 0.8, 5vw, tokens.$baseUnit * 2);
    position: relative;
    z-index: tokens.$layer-3;
    padding-top: 3em;
    padding-bottom: 5em;

    // @media (min-width: tokens.$mq-800) {
    //     padding-block: tokens.$baseUnit * 0.2;
    // }

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: tokens.$maxWidth;
        margin: 0 auto;
        gap: tokens.$baseUnit * 1.3;

        @media (min-width: tokens.$mq-900) {
            flex-direction: row;
            gap: 1em;
        }
    }

    p {
        margin: 0;
        color: tokens.$c-blue-300;
    }

    a {
        color: tokens.$c-blue-300;
    }

    ul {
        display: flex;
        // gap: tokens.$baseUnit;
        list-style: none;
        margin: 0;

        li {
            // padding-inline: 1em;

            .helpPrivBtn {
                display: flex;
                align-items: center;
                gap: tokens.$baseUnit / 2;
                text-transform: uppercase;
                text-decoration: none;
                font-size: tokens.$fs-xs;
                background: none;
                border: none;

                &:hover {
                    background-color: tokens.$c-blue-500;
                    border-radius: 0;
                    text-decoration: underline;
                }
            }

            border-right: 1px solid tokens.$c-blue-500;

            &:first-child {
                border-left: 1px solid tokens.$c-blue-500;
            }
        }
    }

    .logoLegal {
        padding-block: tokens.$baseUnit * 0.5;
    }

    .legalLinks {
        margin-bottom: 2em;
        ul {
            display: flex;
            flex-direction: column;
            gap: tokens.$baseUnit * 0.25;
            padding-left: 0em;
            padding-block: 1em;

            li {
                border: none;
                a {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

.logo {
    display: block;
    position: relative;
    width: 7rem;
    height: 2em;
}
