@use '../global/config/tokens';

.page-footer {
    display: block;
    background-color: tokens.$c-blue-900;
    margin-block: auto 0;
    padding: clamp(tokens.$baseUnit * 0.8, 5vw, tokens.$baseUnit * 2);

    @media (min-width: tokens.$mq-800) {
        padding-block: tokens.$baseUnit * 0.2;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: tokens.$maxWidth;
        margin: 0 auto;
        gap: tokens.$baseUnit * 1.3;

        @media (min-width: tokens.$mq-800) {
            flex-direction: row;
            align-items: center;
            gap: 0;
        }
    }

    p {
        margin: 0;
        color: tokens.$c-blue-300;
    }

    a {
        color: tokens.$c-blue-300;
    }

    ul {
        display: flex;
        // gap: tokens.$baseUnit;
        list-style: none;
        margin: 0;

        li {
            padding-inline: 1em;

            a {
                display: flex;
                align-items: center;
                gap: tokens.$baseUnit / 2;
                text-transform: uppercase;
                text-decoration: none;
                font-size: tokens.$fs-xs;
            }

            border-right: 1px solid tokens.$c-blue-500;

            &:first-child {
                border-left: 1px solid tokens.$c-blue-500;
            }
        }
    }
}

.logo {
    display: block;
    position: relative;
    width: 5rem;
    height: 1em;
}
