@use "sass:color";
@use '../global/config/tokens';

.page-footer {
    display: block;
    background-color: tokens.$c-blue-900;
    margin-block: auto 0;
    padding: clamp(tokens.$baseUnit * 0.8, 5vw, tokens.$baseUnit * 2);
    position: relative;
    z-index: tokens.$layer-3;

    @media (min-width: tokens.$mq-800) {
        padding-block: tokens.$baseUnit * 0.2;
    }

    .wrapper {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: tokens.$maxWidth;
        margin: 0 auto;
        gap: tokens.$baseUnit;
        padding-block: 0.5em ;

        // @media (min-width: tokens.$mq-800) {
        //     flex-direction: row;
        //     align-items: center;
        //     gap: 0;
        // }

        .copyright{
            display: flex;
            align-items: center;
            gap: 1em;
        }
    }

    p {
        margin: 0;
        color: tokens.$c-blue-300;
    }

    a {
        color: tokens.$c-blue-300;
    }

    ul {
        display: flex;
        // gap: tokens.$baseUnit;
        list-style: none;
        margin: 0;

        li {
            // padding-inline: 1em;

            .helpPrivBtn {
                display: flex;
                align-items: center;
                gap: tokens.$baseUnit / 2;
                text-transform: uppercase;
                text-decoration: underline;
                font-size: tokens.$fs-xxs;
                background: none;
                border: none;
                color: color.scale(tokens.$c-white, $alpha: -30%);

                &:hover {
                    background-color: tokens.$c-blue-500;
                    border-radius: 0;
                    text-decoration: underline;
                    color: tokens.$c-white;
                }
            }

            border-right: 1px solid tokens.$c-blue-500;

            &:first-child {
                border-left: 1px solid tokens.$c-blue-500;
            }

            .footerButton{
                 display: flex;
                align-items: center;
                padding:0.3em 0.5em;
                text-transform: uppercase;
                text-decoration: underline;
                font-size: tokens.$fs-xxs;
                color: color.scale(tokens.$c-white, $alpha: -30%);
                border-radius: 2em;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: tokens.$c-blue-500;
                    border-radius: 0;
                    text-decoration: underline;
                    color: tokens.$c-white;
                }
            }
        }
    }
}

.logo {
    display: block;
    position: relative;
    width: 5rem;
    height: 1em;
}
