@use '../config/tokens';
@forward 'button';
@forward 'forms';
@forward 'tabs';

.question-copy {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100vw;
        height: 1px;
        border-top: 1px solid tokens.$c-blue-300;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    strong {
        color: tokens.$c-turquoise-500;

        @media (prefers-color-scheme: light) {
            color: tokens.$c-malva-500;
        }
    }
}
