@use 'sass:color';
@use '../config/tokens';

.react-tabs {
    display: flex;
    width: 100%;
    position: relative;
    background: tokens.$c-blue-800;
    padding-block: clamp(tokens.$baseUnit * 2, 5vw, tokens.$baseUnit * 4);

    @media (min-width: tokens.$mq-800) {
        flex-direction: column;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 150vw;
        height: 100%;
        transform: translateX(-50%);
        background: tokens.$c-blue-800;
    }

    &__tab-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        z-index: tokens.$layer-2;

        @media (min-width: tokens.$mq-800) {
            flex-direction: row;
            // justify-content: center;
            margin-bottom: -0.5em;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            position: relative;
            border: 0.5em solid transparent;
            border-right: 1px solid tokens.$c-blue-500;
            cursor: pointer;
            padding-block: clamp(
                tokens.$baseUnit * 0.5,
                1.35vw,
                tokens.$baseUnit * 1.5
            );
            padding-inline: clamp(
                tokens.$baseUnit * 1,
                2vw,
                tokens.$baseUnit * 2
            );
            transition: all 0.2s ease-in-out;

            &:last-child {
                border-right: 0.5em solid transparent;
            }

            &[class*='-selected'] {
                border-left: 0.5em solid tokens.$c-blue-500;
                border-right: 0.5em solid tokens.$c-blue-500;
                border-top: 0.5em solid tokens.$c-blue-500;
                pointer-events: none;

                span {
                    text-decoration: none;
                }

                &::before {
                    color: tokens.$c-turquoise-500;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -0.5em;
                    left: 0;
                    width: 100%;
                    height: 0.5em;
                    background: tokens.$c-blue-800;
                }
            }

            &::before {
                content: '';
                display: block;
                line-height: 1;
                font-family: tokens.$f-icons;
                font-size: clamp(tokens.$baseUnit, 4vw, tokens.$baseUnit * 4);
                color: tokens.$c-blue-300;
                transition: all 0.2s ease-in-out;
            }

            &.motivation-icon::before {
                content: tokens.$i-motivation;
            }

            &.skills-icon::before {
                content: tokens.$i-skills;
            }

            &.work-icon::before {
                content: tokens.$i-people;
            }

            &.setting-icon::before {
                content: tokens.$i-building;
            }

            &.education-icon::before {
                content: tokens.$i-education;
            }

            &.experience-icon::before {
                content: tokens.$i-work;
            }

            span {
                display: block;
                text-align: center;
                text-transform: uppercase;
                text-decoration: underline;
                color: white;
                font-size: clamp(tokens.$fs-xxs, 1.5vw, tokens.$fs-s);
            }

            &:hover {
                background: rgba(tokens.$c-blue-500, 0.3);

                &::before {
                    transform: translateY(-10%);
                }
            }

            &:focus {
                outline: 1px dotted tokens.$c-turquoise-500;
            }
        }
    }
}

div[class*='__tab-panel'] {
    display: none;
    width: 100%;
    padding: clamp(tokens.$baseUnit * 2, 5vw, tokens.$baseUnit * 4);
    border: 0.5em solid tokens.$c-blue-500;
    position: relative;
    z-index: tokens.$layer-1;

    &[class*='-selected'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(tokens.$baseUnit * 2, 5vw, tokens.$baseUnit * 4);

        @media (min-width: tokens.$mq-800) {
            flex-direction: row;
            align-items: center;
        }

        &::before {
            content: '';
            font-family: tokens.$f-icons;
            font-size: clamp(tokens.$baseUnit * 4, 20vw, tokens.$baseUnit * 20);
            color: color.adjust(tokens.$c-blue-500, $lightness: 10%);
            line-height: 1;
        }

        &.motivation-icon::before {
            content: tokens.$i-motivation;
        }

        &.skills-icon::before {
            content: tokens.$i-skills;
        }

        &.work-icon::before {
            content: tokens.$i-people;
        }

        &.setting-icon::before {
            content: tokens.$i-building;
        }

        &.education-icon::before {
            content: tokens.$i-education;
        }

        &.experience-icon::before {
            content: tokens.$i-work;
        }

        .tab-copy {
            @media (min-width: tokens.$mq-800) {
                flex: 1;
            }
        }
    }
}

.tab-copy {
    h3 {
        color: tokens.$c-white;
    }
}
