@use '../config/tokens';

.form {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    max-width: 45rem;
    margin-bottom: tokens.$baseUnit * 3;
}

.qGroup {
    flex: 1 0 15rem;

    &:nth-child(3) {
        flex: 1 0 100%;
    }

    &:nth-child(n + 4) {
        display: none;
    }
}

.hidden {
    display: none;
}
