@use 'sass:color';
@use 'global/config';
@use 'global/layouts';
@use 'global/components';

body {
    background-color: config.$c-blue-800;
}

p {
    color: config.$c-white;

    strong {
        color: config.$c-turquoise-500;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: config.$c-gray-100;
    }

    p {
        color: config.$c-blue-800;

        strong {
            color: config.$c-malva-500;
        }
    }
}

.intro-title {
    display: inline-block;
    position: relative;
    font-size: clamp(config.$fs-l, 2vw, config.$fs-xxl);
    font-weight: config.$fw-light;
    line-height: config.$lh-s;
    color: config.$c-white;
    background-color: color.adjust(config.$c-blue-500, $lightness: 5%);
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    padding-block: 0.2em;
    padding-right: 0.7em;

    @media (max-width: config.$mq-400) {
        max-width: 15rem;
    }

    &::before {
        content: '';
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        right: 100%;
        background-color: color.adjust(config.$c-blue-500, $lightness: 5%);
    }

    @media (prefers-color-scheme: light) {
        background: color.adjust(config.$c-blue-500, $lightness: 70%);
        color: config.$c-blue-500;

        &::before {
            background-color: color.adjust(config.$c-blue-500, $lightness: 70%);
        }
    }
}
