//* Icons

$i-people: '\e900';
$i-building: '\e901';
$i-certificate: '\e902';
$i-skills: '\e903';
$i-chevron: '\e904';
$i-privacy: '\e905';
$i-work: '\e906';
$i-education: '\e907';
$i-help: '\e908';
$i-motivation: '\e909';
$i-checkmark: '\e90a';
