@forward 'fonts';
@forward 'breakpoints';

//* Colors

$c-black: #000;
$c-white: #fff;

// Cappex colors
$c-orange-500: #f8971d;
$c-blue-300: #7478c3;
$c-blue-500: #303364;
$c-blue-800: #202249;
$c-blue-900: #111227;
$c-turquoise-500: #24ccca;
$c-malva-500: #5265ff;
$c-gray-100: #f5f5f9;

$c-error: #f67171;
$c-success: #0f0;
$c-warning: #ff0;

//* Base Unit
$baseUnit: 1rem;

//* Max Width
$maxWidth: 1280px;

//* Box Shadow
$boxShadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);

//* Z-Index
$z-index: 1;
$layer-0: 1;
$layer-1: 10;
$layer-2: 20;
$layer-3: 30;
$layer-4: 40;
$layer-5: 50;
$layer-6: 60;
$layer-7: 70;
$layer-8: 80;
$layer-9: 90;
$layer-10: 100;
$layer-9999: 9999;

//* Opacity
$opacity: 1;

//* Transition
$transition: 0.25s ease-in-out;

//* Transition Delay
$transition-delay: 0.25s;

//* Transition Duration
$transition-duration: 0.25s;

//* Transition Timing Function
$transition-timing-function: ease-in-out;

//* Transition Property
$transition-property: all;
